* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 57px;

}
.agree {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.topnav {
  overflow: hidden;
  background-color: skyblue;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: black;
}

.topnav a.active {
  background-color: rgb(14, 187, 255);
  color: white;
}



.topnav .search-container {
  float: right;
  background-color: skyblue;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(255, 255, 255);
}
.logo {
    padding: 15rem;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
	background-image: url('images_website/SLAH.jpg');
	background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.name {
    border-style: solid; 
    border-width: 10px; 
    border-color: rgb(255, 255, 255) ;
    padding:10px
}
li {
  color:white
}

footer {
	padding: 1rem;

	background-color: blue;
	box-sizing: border-box;
}

footer > div:nth-child(1) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

footer > div > div h3 {
	text-align: center;
	margin: 0;
}

footer > div > div > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer > div > div a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: color 500ms;
}

footer > div > div p {
	transition: color 500ms;
}

footer > div > div p:hover {
	color:blue;
}

footer > div > div a:hover {
	color: blue;
}

footer > div > :is(div:nth-child(1), div:nth-child(2)) {
	border-right: 1px solid rgb(255, 255, 255);
}

footer > div > div {
	text-align: center;
}

footer > div:nth-child(2) {
	text-align: center;
}

footer > div > div:nth-child(1) p {
	margin: 0;
}
.foot {
  font-size: 15px;
  color:white
}
.foots {
  color:white
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    
  }
  .topnav input[type=text] {
    border: 1px solid skyblue;  
  }
}
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }